.articulos {
    width: 100%;
    padding: 5%;
}

.articulo {
    margin-bottom: 50px;
    border-bottom: 3px solid $color-secundario;
    &__categoria {
        font-weight: 500;
        font-size: 1.6rem;
        color: $color-secundario;
        @include titulos($Fuente2)
    }
    &__titulo {
        font-size: 2rem;
        @include titulos($Fuente2)
    }
    &__descripcion {
        margin-bottom: 30px;
        font-size: 1.8rem;
    }
}